*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#050816;
    color:white;
}


.app{
    display:flex;
    min-height:100vh;
}


/* Sidebar */

.sidebar{

    width:260px;
    background:#080d20;
    border-right:1px solid #25285a;
    padding:20px;

}


.sidebar h2{
    color:white;
    font-size:22px;
}

.sidebar h2 span{
    color:#9b4dff;
}


.sidebar p{
    color:#00eaff;
    font-size:12px;
    margin-bottom:30px;
}


.sidebar h4{

    color:#7f8cff;
    margin:20px 0 10px;

}


.sidebar button{

    width:100%;
    padding:12px;
    margin:5px 0;

    background:#11172e;
    color:white;

    border:1px solid #25285a;
    border-radius:8px;

}


.sidebar button:hover{

    background:#6824ff;

}


.time{

display:grid;
grid-template-columns:repeat(3,1fr);
gap:5px;

}


.time button{

padding:8px;

}


.active{

background:#7728ff!important;

}


.scan{

margin-top:25px;

background:linear-gradient(90deg,#6120ff,#b000ff)!important;

}



/* Main */

.main{

flex:1;
padding:20px;

}


.top{

display:flex;
justify-content:space-between;
align-items:center;

background:#0b1024;

padding:20px;
border-radius:15px;

border:1px solid #25285a;

}


.live{

color:#00ff99;

}



/* Chart */

.chart{

height:420px;

margin-top:20px;

background:#080d20;

border:1px solid #25285a;

border-radius:15px;

padding:20px;

position:relative;

}


.chart h3{

color:#c06cff;

}


.candles{

margin-top:150px;
display:flex;
gap:15px;

font-size:40px;

}


.zone{

position:absolute;

top:70px;
left:40px;
right:40px;

padding:20px;

text-align:center;

background:#38115f;

color:#e1aaff;

border-radius:10px;

}


.support{

position:absolute;

bottom:60px;
left:40px;
right:40px;

padding:20px;

text-align:center;

background:#064c55;

color:#00ffff;

border-radius:10px;

}



/* Cards */

.cards{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:15px;

margin-top:20px;

}


.cards div{

background:#0b1024;

padding:20px;

border-radius:15px;

border:1px solid #25285a;

}


.cards h3{

color:#c46cff;
font-size:15px;

}


.cards p{

margin-top:10px;

}



/* AI PANEL */

.ai{

width:300px;

background:#080d20;

padding:20px;

border-left:1px solid #25285a;

}


.ai h3{

color:#00eaff;

}


.bear{

color:#ff3344;

margin:20px 0;

}


.signal{

background:#10152d;

border:1px solid #ff3344;

border-radius:15px;

padding:20px;

text-align:center;

}


.signal h1{

font-size:45px;
color:#ff3344;

}


.signal h3{

font-size:35px;
color:white;

}


.signal p{

color:#ff3344;

}


.ai li{

list-style:none;

margin:15px 0;

color:#00ff99;

}
