*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}


body{

height:100vh;
background:#050816;
display:flex;
justify-content:center;
align-items:center;
color:white;

}


.login-box{

width:350px;
padding:35px;
background:#0b1024;
border:1px solid #26265c;
border-radius:20px;
box-shadow:0 0 40px #5114ff;

text-align:center;

}


.logo{

font-size:55px;
color:#8b3cff;

}


h1{

font-size:25px;
margin-top:10px;

}


h1 span{

color:#8b3cff;

}


p{

color:#00eaff;
margin-bottom:30px;

}


input[type=text],
input[type=password]{

width:100%;
padding:14px;
margin:10px 0;

background:#11182f;
border:none;
outline:none;

color:white;

border-radius:10px;

}


label{

font-size:13px;
display:block;
text-align:left;
margin:10px;

}


button{

width:100%;
padding:14px;

background:linear-gradient(90deg,#661aff,#b000ff);

border:none;

border-radius:10px;

color:white;

font-weight:bold;

cursor:pointer;

margin-top:15px;

}


button:hover{

box-shadow:0 0 20px #8b3cff;

}


#message{

margin-top:15px;
color:red;

}


footer{

margin-top:30px;
font-size:12px;
color:#777;

}
